.SignForm {
        margin: 20px;
        padding: 20px;
    }
    
    .SignForm > .Headline { 
        text-align: center;
    }
    
.SignForm > .TextBox {
     width: 450px;
     margin: 15px !important;
    }

