html,
body,
#root {
  margin: 0;
  padding: 0;
  height: 100%;
  text-align: center;
  font-style: italic;
  background: #2a2a2e;
  color: #ffffff;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.Box {
  text-align: left;
  padding: 0 10px;
  margin: 10px;
  border-radius: 17px;
  background-color: rgb(61, 61, 61);
}


.Headline { 
  text-align: center;
}

.ErrorMessage {
  color: red;
}

/* .MuiButton-containedPrimary {
  background-color: #114a1c !important;
}

.MuiButton-containedSecondary {
  background-color: #690000 !important;
} */
